#header.with_border_buttom
  = image_tag '/assets/how-it-works.png'
.device-options
  #step1
    = image_tag '/assets/step1.png'
  #step2
    = image_tag '/assets/step2.png'
  #step3
    = image_tag '/assets/step3.png'
  #you-can-also
    = image_tag '/assets/you-can-also.png'
#footer
  = image_tag '/assets/side_bar/footer.png'
