%span.name <%= @name %>

.links
  %span Add Time (minutes)
  = link_to '+15', '#', class: 'add-time', 'data-time' => '15'
  = link_to '+30', '#', class: 'add-time', 'data-time' => '30'
  = link_to '+60', '#', class: 'add-time', 'data-time' => '60'

= link_to 'Send Message', '#', class: 'send-message'
.message-form{ style: 'display: none;' }
  %input{ id: 'message<%= @id %>', type: 'text' }
  = link_to 'Enviar', '#', class: 'send-msg'

.counter{id: "<%= @id%>"}

