!!!
%html
  %head
    %title Remote Device Control
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#main
      #main-container.wrap.page-aside
        = render 'shared/header'
        %aside
          Side Bar
    = render 'shared/rdc_pusher'
