!!!
%html
  %head
    %title Remote Device Control
    <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
    = render 'shared/head_includes'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#main
      #main-container.wrap.page-aside
        = render 'shared/header'
        %aside#side-bar
          = render 'shared/side_bar'
    = render 'shared/rdc_pusher'
